body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background: black;

}

button {
    background-color: rgb(41, 38, 38);
    color: white;
    border: white solid 1px;
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
    opacity: 0.4;
}
button:hover{
    opacity: 0.7;
}

input[type=text]{
    width: 280px;
    opacity: 0.9;
}

input#search-bar {
    margin: 0 auto;
    /* width: 100%; */
    height: 30px;
    padding: 0 20px;
    font-size: 0.9rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }
input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }
input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  
.btext{
    color: rgba(255, 255, 255, 0.801);
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    /* line-height: 0.4em; */
}

h1{
    font-size: 34px;
}

.play {
    text-align: center;
    margin: 30px;
    opacity: .6;
    height: 38px;
}
.results {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.track {
    width: 10%;
    padding: 20px;
    min-width: 180px;
    text-align: center;
    cursor: pointer;
}

.track img {
    width: 100%;
    text-align: center;
    /* border-radius: 8px; */
    box-shadow: 0 8px 6px -6px black;
}

.track *:hover {
    opacity: 0.5;
}

.track p {
    margin-bottom: 0;
}
.track h2 {
    margin-top: 0;
}

#particles-js {
    /* background-image: url('cropped-starglobe-maya-render.jpg'); */
    background-image: url('images/aperture-vintage-212345-unsplash.jpg');
    height: 300vh;
}